:root{
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --button-color: #188CE8;
  --background-color: #FFFFFF;
  --button-color-second: #F5F4FA;
}


.page{
  background-color: #FFFFFF;
  color: var(--primary-text-color);
}

/*Site navigation*/
.site-nav .link{
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus{
  color: var(--accent-color);
}

.site-nav .link.current{
  color: var(--accent-color)
}

.list{
  list-style: none;
}

.logo{
  color: #000000;
  text-decoration: none;
}

.logo:hover,
.logo:focus{
  color: var(--accent-color);
}

.logo-style{
  color: var(--accent-color);
}