/*Цвет основного текста 212121*/

/*Цвет вспомагательного текста 757575*/

/*Белый цвет фона FFFFFF*/

/*Вторичный цвет фона F5F4FA*/

/*Футер 2F303A*/

/*Акцент сайта 2196F3*/

/*Адрес rgba(255, 255, 255, 0.6);*/

:root{
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --button-color: #188CE8;
  --background-color: #FFFFFF;
}


.page{
  background-color: #FFFFFF;
  color: var(--primary-text-color);
}

/*Site navigation*/
.site-nav .link{
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus{
  color: var(--accent-color);
}

.site-nav .link.current{
  color: var(--accent-color)
}

.list{
  list-style: none;
}

.logo{
  color: #000000;
  text-decoration: none;
}

.logo:hover,
.logo:focus{
  color: var(--accent-color);
}

.logo-style{
  color: var(--accent-color);
}

/*Герой*/
.hero-title{
  color: #FFFFFF;
}
.btn{
  text-decoration: none;
  color: var(--background-color);
  background-color: var( --button-color);

}


/*Чем мы занимаемся*/
.doing-list{
  color: #000000;
}

/*Секция*/
.section-title{
  color: var(--title-text-color);
}

/*Футер*/
.address{
  color: rgba(255, 255, 255, 0.6);
}