/*Цвет основного текста 212121*/

/*Цвет вспомагательного текста 757575*/

/*Белый цвет фона FFFFFF*/

/*Вторичный цвет фона F5F4FA*/

/*Футер 2F303A*/

/*Акцент сайта 2196F3*/

/*Адрес rgba(255, 255, 255, 0.6);*/



a{
  text-decoration: none;
}

/*Герой*/
.hero-title{
  color: #FFFFFF;
}
.btn{
  color: var(--background-color);
  background-color: var(--button-color);

}


/*Чем мы занимаемся*/
.doing-list{
  color: #000000;
}

/*Секция*/
.section-title{
  color: var(--title-text-color);
}

/*Футер*/
.address{
  color: rgba(255, 255, 255, 0.6);
}

/*PORTFOLIO*/


.list .filter{
  color: var(--title-text-color);
  background-color: #F5F4FA;
}

.list .filter:hover,
.list .filter:focus{
  color: #FFFFFF;
  background-color: var(--accent-color);
}




